.container {
  width: 100%;
  border-bottom: 1px solid #5d5959;
  height: 100vh; /* 全画面にしてる例。必要なら固定値でもOK */
  overflow-y: auto;
}
.searchBox {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
.roomItem {
  display: flex;
  gap: 10px;
}
.roomInfo {
  display: flex;
  flex-direction: column;
}
